<div>

  <!--
        CAMPOS POSSÍVEIS
        addusername = true||false
        addemail = true||false                   //  STANDARD = TRUE
        addemailconfirmation = true||false
        addfirstname = true||false
        addlastname = true||false
        addphone = true||false
        addpassword = true||false               //  STANDARD = TRUE
        addpasswordconfirmation = true||false
  --> 
  <bsc-form 
    [addemail]="true" 
    [addpassword] = "true"
  ></bsc-form>
</div>

<!-- <router-outlet></router-outlet> -->
